.container-app {
    max-width: 500px;
    margin: 0 50px;
    font-family: monospace;
    float: left;
  }
  .title {
    margin: 20px 0;
    text-align: center
  }
  .container-image-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: 3px dashed #999;
    background-color: white;
  }
  
  .wrap-image-true {
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .btn-close {
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
  }
  .selected-image {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
  .file-name-image {
    position: absolute;
    bottom: 0;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    padding: 6px 0;
  }
  
  .wrap-image-false {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-upload {
    color: rgb(62, 156, 250);
  }
  .file-name {
    font-size: 18px;
    color: #222;
  }
.btn-detect {
    margin-top: 20px;

}
.image-result {
    max-width: 500px;
    margin: 0 50px;
    font-family: monospace;
    float: left;
    height: 100%;
    width: 100%;
    
  }

  .image-description {
    width: -webkit-fill-available;
    font-family: monospace;
    float: left;
    height: 500px;
    margin: 50px 50px;
    
  }
.container-description {
    height: 500px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    border: 3px dashed #999;
    background-color: white;
}

.description-content {
    margin: 10px 10px;
}